body {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

body > * {
  flex-grow: 1;
}

#elements {
  background-color: red;
}

#global-content {
  background-color: gray;
  flex-grow: 2.5;
  padding: 1em;
}

#content {
  background-color: white;
}

#style {
  background-color: blue;
}

.line {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.line > * {
  flex-grow: 1;
}