body {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

body > * {
  flex-grow: 1;
}

#elements {
  background-color: red;
}

#global-content {
  background-color: gray;
  flex-grow: 2.5;
  padding: 1em;
}

#content {
  background-color: white;
  padding-bottom: 5em;
}

#style {
  background-color: blue;
}

.line {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

/* .line > * {
  flex-grow: 1;
} */

.editable {
  flex-grow: 1;
  min-height: 3em;
  border: solid 2px lightgray;
}